@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

a{
    color: white;
    text-decoration: none;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: white;
}

header{
    padding-top: 30px;
    text-align: center;
}

img{
    max-width: 100%;
}

nav.navigation{
    padding: 9px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    display: none;
}

nav .frame{
    height: 32px;
}

/* Utilities */
.container{
    width: 95%;
    margin: 0 auto;
}

.read-btn{
    text-transform: uppercase;
    font-size: 13px;
    color: white;
    font-weight: bolder;
    letter-spacing: 3px;
}

.read-btn i{
    margin-right: 4px;
}

a.link-login{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-right: 20px;
    color: black;
}

a.link-search{
    display: none;
    color: black;
}

a.link-newsletter{
    display: none;
    color: black;
}

a.link-subs{
    padding: 17px 10px 17px 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-right: 20px;
    color: white;
    background:linear-gradient(to left, black 50%, #ffcc00 50%) right;
    background-size: 200%;
}

a.link-subs:hover{
    transition: .2s ease-out;
    color: black;
    background-position: left;
}

a.link-menu{
    display: none;
    color: black;
}

a.link-arrows{
    padding-right: 15px;
    color: black;
}

a.link-read{
    text-transform: uppercase;
    font-size: 12px;
    color: black;
    font-weight: bolder;
    letter-spacing: 3px;
}

.main-news{
    position: relative;
    margin-bottom: 15px;
}

.main-news-img-zoom{
    overflow: hidden;
    height: auto;
}

.main-news-img-zoom img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    opacity: 0.8;
    transition: transform .5s ease;
}

.main-news-img-zoom img:hover{
    transform: scale(1.2);
}

.main-news-text{
    position: absolute;
    top: 200px;
    left: 20px;
}

.main-news-text h3{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    margin-bottom: 0;
}

.main-news-text h3:hover{
    text-decoration: underline;
    cursor: pointer;
}

.main-news-text p{
    letter-spacing: 1px;
    margin-top: 15px;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 25px;
}

.secondary-news{
    height: 400px;
}

.secondary-news img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 0;
}

.secondary-news-text{
    margin-top: -22px;
    height: 120px;
    background-color: white;
    color: black;
    padding: 20px;
}

.secondary-news-text h3{
    color: #555555;
    padding-top: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
    margin-bottom: 0;
}

.secondary-news-text h3:hover{
    text-decoration: underline;
    cursor: pointer;
}

.secondary-news-text p{
    font-size: 20px;
    font-weight: 700;
}

.secondary-news-img-zoom{
    overflow: hidden;
    height: auto;
}

.secondary-news-img-zoom img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 0;
    transition: transform .5s ease;
}

.secondary-news-img-zoom img:hover{
    transform: scale(1.2);
}

.title{
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 22px;
}

.text{
    margin-bottom: 0;
}

.text span{
    height: 5px;
    border-bottom: 2px solid #ffcc00;
    color: white;

}

.text span:hover{
    background:linear-gradient(to bottom,#ffcc00 50%,#ffcc00 50%) top;
    background-size: 200%;
    transition: 0.1s;
    color: black;
}

.link-see-more{
    border-bottom: 2px solid #ffcc00;
}

.see-more{
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.link-see-more:hover{
    color: black;
    background-color: #ffcc00;
}

.border{
    border-bottom: 4px solid #ffcc00;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 57px;
    width: 4.8%;
}

.todays-picks h2{
    font-size: 30px;
    text-transform: uppercase;
    border-left: 5px solid #ffcc00;
    padding-left: 20px;
    letter-spacing: 3px;
}

.pick-item{
    display: flex;
    flex-direction: row;
}

.pick-item img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-bottom: 35px;
    margin-right: 20px;
}

.pick-item-text{
    margin-top: -5px;
}

.pick-item-text h3{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 10px;
}

.pick-item-text a{
    font-size: 15px;
    font-weight: 700;
}

.pick-item-text a:hover{
    text-decoration: underline;
}