@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

a{
    color: white;
    text-decoration: none;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: white;
}

header{
    padding-top: 30px;
    text-align: center;
}

img{
    max-width: 100%;
}

nav.navigation{
    padding: 9px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    display: none;
}

nav .frame{
    height: 32px;
}

a.link-login{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-right: 20px;
    color: black;
}

a.link-search{
    display: none;
}

a.link-subs{
    padding: 17px 10px 16px 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-right: 20px;
    background-color: black;
    color: white;

    background:linear-gradient(to left, black 50%, #ffcc00 50%) right;
    background-size: 200%;
}

a.link-subs:hover{
    transition: .2s ease-out;
    color: black;
    background-position: left;
}

a.link-menu{
    display: none;
}

a.link-arrows{
    padding-right: 15px;
    color: black;
}

/* .main-image{
    width: 200px;
}

.secondary-image{
    width: 200px;
}

.picks-images{
    width: 100px;
} */

.title{
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 22px;
}

.text{
    margin-bottom: 0;
}

.text span{
    height: 5px;
    border-bottom: 2px solid #ffcc00;
    color: white;

}

.text span:hover{
    background:linear-gradient(to bottom,#ffcc00 50%,#ffcc00 50%) top;
    background-size: 200%;
    transition: 0.1s;
    color: black;
}

.link-see-more{
    border-bottom: 2px solid #ffcc00;
}

.link-see-more:hover{
    color: black;
    background-color: #ffcc00;
}

.border{
    border-bottom: 4px solid #ffcc00;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 57px;
    width: 4.8%;
}